<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kodego.diangca.ebrahim.laundryexpres">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaundryExpress"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAzofW3ZdxI6l6Jz7C16Z_iHHLH_KMmIWY" /> <!-- REGISTRATION -->
        <activity
            android:name=".registration.RegisterPersonalInfoActivity"
            android:exported="false"
            android:theme="@style/Theme.LaundryExpress.NoActionBar" />
        <activity
            android:name=".registration.rider.RegisterRiderActivity"
            android:exported="false"
            android:theme="@style/Theme.LaundryExpress.NoActionBar" />
        <activity
            android:name=".registration.partner.RegisterPartnerActivity"
            android:exported="false"
            android:theme="@style/Theme.LaundryExpress.NoActionBar" />
        <activity
            android:name=".registration.RegisterCustomerActivity"
            android:exported="false"
            android:theme="@style/Theme.LaundryExpress.NoActionBar" /> <!-- DASHBOARD -->
        <activity
            android:name=".dashboard.partner.DashboardPartnerActivity"
            android:theme="@style/Theme.LaundryExpress.Drawer"
            android:exported="false"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".dashboard.customer.DashboardCustomerActivity"
            android:exported="false"
            android:theme="@style/Theme.LaundryExpress.NoActionBar" />
        <activity
            android:name=".dashboard.rider.DashboardRiderActivity"
            android:exported="false"
            android:theme="@style/Theme.LaundryExpress.NoActionBar" /> <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.LaundryExpress.NoActionBar" /> <!-- INDEX -->
        <activity
            android:name=".IndexActivity"
            android:exported="true"
            android:theme="@style/Theme.LaundryExpress.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- SPLASH -->
        <activity
            android:name=".SplashScreen"
            android:exported="false"
            android:theme="@style/Theme.LaundryExpress.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.LaundryExpress.NoActionBar" />
    </application>

</manifest>